{% extends 'base.html' %}
{% block Titre %} Contact {% endblock %}

{% block contenu %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 mt-4">
            <h1>Contactez-nous</h1>
            <p>
                Si vous cherchez un studio à louer pour une nuit ou pour une semaine,
                nous proposons des tarifs intéressants.
            </p>

            <hr class="my-4">
            <form action="{% url 'contact' %}" method="POST" >
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-danger">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


